.logo {
  display: inline-block;
  
  &--white {
    filter: brightness(0) invert(1);
  }
  
  &__image {
    height: 40px;
    width: auto;
    display: block;
    
    @media (max-width: $breakpoint-md) {
      height: 35px;
    }
    
    @media (max-width: $breakpoint-sm) {
      height: 30px;
    }
  }
} 